
<input type="text" @bind-value="@message" />
<input type="button" value="Haga clic aqui" @onclick="ChangeText" />

<div>
    @newMessage
</div>

@code{
    [Parameter]
    public string Message { get; set; } 

    string message = "Escribe un contenido";
    string newMessage = "";

    protected override async Task OnInitializedAsync()
        {
        message = Message;
        }

    private void ChangeText()
    {
        newMessage = message;
    }
}